
<div class="container">
  <h1>Личный кабинет</h1>
  <%= current_user.email %>
  </ul>
  <h2>Проекты</h2>
  <hr>
  <h2>Вакансии</h2>
  <div>
    <% @vacancies.each do |vacancy|  %>
      <div>
        <a href="/vacancy/<%= vacancy.id %>">
          <%= link_to vacancy.short_name, vacancy %>
          <div> <%= vacancy.body %> </div>
          <div> <p> <%= vacancy.user.email %> </p> </div>
        </a>
      </div>
    <% end %>
  </div>>
  <hr>
  <h2>Резюме</h2>
  <hr>

  <ul> <%  %>
    <li>
      <%= link_to "Главная", articles_path%>
      <div> <%=  %> </div>
    </li>
</div>