<div class="container">
  <h1>Карточка участника</h1>
  <%= @user.email %>
  <%= if user_signed_in?
               
    end
   %>
  <br>

  <h2>Проекты</h2>
    <h3>Количество созданных проектов: <%= @projects_count %></h3>
  <hr>
  <h2>Вакансии</h2>
    <div>
      <h3>Количество размещенных вакансий: <%= @vacancy_count %></h3>
    </div>
  <hr>
  <h2>Статьи</h2>
  <div>
      <h3>Размещенных статей: <%= @articles_count %></h3>
    </div>
  <hr>
  <ul> 
    <li>
      <%= link_to "Главная", articles_path, class: 'btn btn-default'%>
      <div> <%=  %> </div>
    </li>
  </ul>
</div>