<%= form_with model: note do |form| %>

  <div>
    <%= form.label :title, "Краткое описание" %><br>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div>
    <%= form.label :body, "Описание" %><br>
    <%= form.text_area :body, :class => "form-control",  cols: 60, rows: 15 %><br>
  </div>

  <div>
    <%= form.submit "Создать", :class => "btn btn-primary my-1" %>
  </div>
  <br>
<% end %>
