<div class="container">
<h1>Заметка</h1>

<h1><%= @note.title %></h1>
<p><%= @note.body %></p>


<ul>
  <li><%= link_to "Edit", edit_note_path(@note), class: 'btn btn-default' %></li>
  <li><%= link_to "New", new_note_path, class: 'btn btn-default' %></li>
  <li><%= link_to "Main", articles_path, class: 'btn btn-default' %></li>

</ul>

</div>