<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CodeSkill</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> </a></li>
        <li>
          <%= if user_signed_in?
               "Вы вошли как #{current_user.role} #{current_user.id}"
                if current_user.role == "customer"
                  link_to current_user.email, customer_path
                elsif current_user.role == "executor"
                  link_to current_user.email, executor_path
                else
                  link_to current_user.email, profiles_path
                end
              end
          %></li>
        <li><% if !(user_signed_in?) %>
            <%= link_to "Sign Up", new_user_registration_path,
                  class: 'btn btn-default'
                %>
            </li>
          <li><%= link_to "Sign In", user_session_path,
                        class: 'btn btn-default'
            %></li>
          <% else %>
            <li><a href="#"><%= button_to(
                "Log Out",
                destroy_user_session_path,
                method: :delete,
                :class => 'btn btn-default'
              ) %>
          <% end %></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
<h1>Здесь можно найти проекты и вакансии</h1>
<h2>Проект находится в разработке, но можно попробовать создать проект. </h2>

<div>
  <div>
  <a href="/projects"><h2>Проекты</h2></a>
  <a href="/projects/new" class="btn btn-primary my-2"> Создать </a>
  </div>
  <div>
  <% @projects.each do |project| %>
      <% if project.project_status != "draft" %>
        <div class = "project card">
          <%= link_to project.short_title, project %>
          <div> <%= project.title %> </div>
          <div> <%= project.project_status %> </div>
          <div> <p> <%= project.author %> </p> </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
<hr>
<div>
  <div>
  <a href="/vacancies"><h2>Вакансии</h2></a>
  <a href="/vacancies/new" class="btn btn-primary my-2"> Создать </a>
 </div>
  <% @vacancies.each do |vacancy| %>
    <div class = "project card">
      <a href="/vacancy/<%= vacancy.id %>">
         <%= link_to vacancy.short_name, vacancy %>
         <div> <%= vacancy.body %> </div>
         <div> <p> <%= vacancy.user.email %> </p> </div>
      </a>
    </div>
  <% end %>
</div>

<hr>
<div>
  <div>
    <a href="/notes"><h2>Заметки </h2></a>
    <a href="notes/new" class="btn btn-primary my-2"> Создать </a>
 </div>
  <% @notes.each do |note| %>
    <div class = "project card">
      <a href="/notes/<%= note.id %>">
         <%= link_to note.title, note %>
         <div> <%= note.body %> </div>
      </a>
    </div>
  <% end %>
</div>
  <div>
    <div>
<hr>
  <a href="/articles"><h2>Записи </h2></a>
  <a href="articles/new" class="btn btn-primary my-2"> Создать </a>
    </div>
  <% @articles.each do |article| %>
    <div class = "project card">
      <a href="/articles/<%= article.id %>">
         <%= link_to article.title, article %>
         <div> <%= article.body %> </div>
      </a>
    </div>
  <% end %>
    </div>
</ul>
  <hr>
  <div>
    <div>
      <a href="/tags"><h2>Теги</h2></a>
      <a href="/tags/new" class="btn btn-primary my-2"> Создать </a>
    </div>
    <% @tags.each do |tag| %>
      <div>
        <a href="/tag/<%= tag.id %>">
          <%= link_to tag.title, tag %>
          <div> <%= tag.title %> </div>
          <div> <p> <%= %> </p> </div>
        </a>
      </div>
    <% end %>
  </div>
<hr>

<ul>
  <% @users.each do |user|%>     
    <li>
   <strong> <%= user.email %> - <%= user.role %>  </strong>
    </li> 
  <% end %>
</ul>
<hr>
