<%= form_with model: @vacancy do |form| %>
  <div>
    <%= form.label :short_name %><br>
    <%= form.text_field :short_name, cols: 60, rows: 25 %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, cols: 60, rows: 15 %><br>
  </div>
  <%= hidden_field_tag :user_id, @vacancy&.user&.id %>
  <% if user_signed_in? %>
    <% #byebug %>
  <strong> <%=  %> i am a user - <%= current_user.email %>.</strong>
  <% end %>
  <% @vacancy.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>



