<div class="container">
<h1>Вакансия</h1>

  <h1><%= @vacancy.short_name %></h1>

  <p><%= @vacancy.body %></p>

<ul>
  <li><%= link_to "Edit", edit_vacancy_path(@vacancy), class: 'btn btn-default' %></li>
  <li><%= link_to "New", new_vacancy_path, class: 'btn btn-default' %></li>
  <li><%= link_to "Main", articles_path, class: 'btn btn-default' %></li>
</ul>

</div>
