<div class="container">
<h1>Vacancy#show</h1>

  <h1><%= @vacancy.short_name %></h1>

  <p><%= @vacancy.body %></p>

<ul>
  <li><%= link_to "Edit", edit_vacancy_path(@vacancy) %></li>
  <li><%= link_to "New", new_vacancy_path %></li>
  <li><%= link_to "Main", vacancy_path %></li>
</ul>

</div>
