<!DOCTYPE html>
<html>
  <head>
    <title>Создание проектов и поиск вакансий</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %> 
       
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-succes"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>  
    <%= yield %>
  </body>
</html>
